a {
	text-decoration:none !important;
}

ul.menu a.active,
ul.menu a:hover{
	color: rgb(250,250,250);
	background-color: #FF7021;
	border-radius: 2em;
	text-decoration: underline;
	text-decoration-color: orange;
}


/******** NAVIGATION *********/
/*
nav {
	position: absolute;
	top: 2em;
	right: 3.125em;
	display: block;
}

div.page-top div.nav-logo {
	width: 18.825em;
	margin: 35px 0px 10px 50px;
	float: left;
}

ul.menu > li {

	float: left;
	position: relative;
	text-decoration-style: none;
	display: inline-block;
	font-weight: bold;
	font-size: 1.125em;
}
*/

/*DIVIDER BETWEEN NEW NAV AND OLD NAV*/
.header {
	background-color: rgb(247,247,247);
	padding-bottom: 3em;
	border-radius: 2em;
}

.main {
	width: 100%;
	margin-bottom: 4em;
}

div.logo-container  {
	display: inline-block;
	position: relative;
	top: 1.5em;
	left: 8.5em;

}

div.logo-container > img {
	width: 300px;
}

nav.nav-primary {
	position: absolute;
	top: 1em;
	left: 2.5em;
	right: 2.5em;
	margin-bottom: 5em;
	/*background: linear-gradient(0deg, #FFC535 , #FF7F00 50%, #FF5500 90% );*/
	/*padding-top: 1.25rem;*/	
	padding-bottom: 1.25rem;
	/*border-radius: 15px 50px;*/
} 

nav ul.menu {
	text-decoration: none;
	list-style: none;
	padding-left: 5em;
	right: 2.5em;
	display: inline;
	float: right;
	font-size: 1em;
}



.nav-items {
	text-decoration-style: none;
	display: inline-block; 
	padding: 1em 1.5em;
	margin-left: 1em;
	margin-right: 1em;
	font-weight: bold;
	font-size: 1.5em;
	float: left;
	position: relative;
	top: 2em;
	right: 1em;
	text-align: center; 

}

.nav-items li {

	text-align: center;
	font-family: "Comfortaa",cursive;
}

/*SECTION ITEMS*/

div.info-display {
	width: 45%;
	display: inline-block;
	padding: .5em 2em;
	font-size: 2em;
	font-weight: bold;
}

/*input {
	margin-bottom: 4em;
	display: block;
	height: 2em;
	width: 14rem;
}
*/
button.button {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	height: 3em;
	width: 7em;
}


/*ABOUT PAGE*/

.about {
	width: 85%;
	margin: auto;
	margin-top: 10em;
	
	height: 60em;
}

.about-description {
	line-height: 2em;
}

.row {
	margin-bottom: 1.5em;
}

.about-cook {
	word-wrap:  break-word;
	position: relative;
	float: left;
	max-height: 18em;
	width: 83%;
	/*background-color: #39AACC;*/
	border: #FF7021 solid .5em;
	margin-top: 3em;
	margin-left: 3em;
	margin-bottom: 3em;

	padding: 1.5em 1.5em 1.5em 0em;
	z-index: 1;
	display: block;
	border-radius: 7.5em 1em 1em 7.5em;
	font-size: 1.33em;

}

.about-cook::after {
	content: "";
	display: block;
	clear: both;

}

.cook-media {
	position: relative;
	float: left;
	left: -3em;
	top: -4em;
	height: 20em;
	min-height: 16em;
	width: 20em;
	background-color: #396CCC;
	border-radius: 100%;
	padding-bottom: .75em;
	z-index: 2;

}

.about-site {
	position: relative;
	float: right;
	max-height: 18em;
	width: 83%;
	border: #FF7021 solid .5em;
	margin-top: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	padding-bottom: .75em;
	padding-right: 15em;
	z-index: 1;
	display: block;
	border-radius: 1em 7.5em 7.5em 1em;
	font-size: 1.33em;
	overflow: auto;
	/*float: right;
	min-height: 14em;
	height: 20em;
	width: 83%;
	background-color: #773600;
	padding-bottom: .75em; 
	z-index: 3;
	border-radius: 1em 7.5em 7.5em 1em;*/
}

.site-media {
	float: right;
	position: relative;
	height: 20em;

	width: 20em;
	background-color: #773600;
	margin-bottom: 1em;
	border-radius: 0%;
	padding-bottom: .75em;
	z-index: 2;

}

/*div#chef-pic {
	position: absolute;
	float: right;
	left: -3em;
	top: -4em;
	height: 20em;
	min-height: 16em;
	width: 20em;
	background-color: #396CCC;
	border-radius: 100%;
	padding-bottom: .75em;
	z-index: 2;
}*/

.knife-gif {
	height: 18em;
	width: 18em;
	border-radius: 100%;
	margin-left: 1em;
	margin-top: 1em;
	opacity: .85;

}

/*COOKWARE AND RESOURCES PAGE*/

section.affiliate-col {
	width: 50%;
	margin: 4em auto;
}

section.affilate-col div.product-highlight::before {
	position: absolute;
	display: block;
	width: 5.625em; 
	content: "";
	background-color: inherit;
	left: 36%;
	height: 1px;

}

.product-highlight {
	position: relative;
	border: .6em solid #3971CC;
	margin: .25em 0;
	display: inline-block;
	padding: .5em 1em .5em .7em;
	box-shadow: .125em .125em .125em 0em #6085ff;
	-webkit-box-shadow: .125em .125em .125em 0em #2A72D9; 
}

h4.label {
	top: -2.325em;
	left: -1.25em;
	font-weight: 700;
	background-color: #114C9E;
	display: inline-block;
	position: absolute;
	padding: .7em 1.15em;
	color: #fff;
	box-shadow: .125em .125em .125em 0em rgba(0,0,0,0.18);
}

h4.label:after {
	content: " ";
	display: block;
	position: absolute;	
	left: -0.625em;
	bottom: -0.4325em;
	border-bottom: 7px inset transparent;
	border-top: 0px inset transparent;
	border-left: 10px inset transparent;
	border-right: 10px solid #0B3268;
	
}

.product-group {
	height: 22em;
	display: flex;
	flex-direction: row;
	margin: 1.5em;	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	flex-wrap: wrap;
}

div.product-metadata {
	align-self: center;
	display: block; 
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-webkit-box-flex: 1;
	-webkit-box-direction: normal;
	-webkit-font-smoothing: antialiased;
}

div.product-img {
	align-self: center;
	display: block; 
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-webkit-box-flex: 1;
	-webkit-box-direction: normal;
	-webkit-font-smoothing: antialiased;
}

h3.product-title {
	line-height: 1.7em;
	font-size: : 2.5em;
	font-weight: bold;

}

div.product-img img {
	width: 100%;
	height: auto;
	height: 157px;
	width: 250px; 
}

.product {
	position: relative;
	margin: 0 0 1.5em 0;
	padding: 1em 0em .70em;
	border-left: 1px solid #ccc;
	clear: both;
}

button.affil-button {
	background-color: #CC3A17;
	color: white;
	padding: 1.4em .7em;
	align-content: center;
	font-size: 1.3em;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	font-size: 0;
}


/*FOOTER ITEMS SECOND ITERATION*/

footer {
	width: 100%;
	display: block;
	border: .65em solid rgb(30,30,30);
	background-color: #3d414a;
}

div.newsletter {
	/*background-color: rgb(245,245,245);*/
	background-color: #FFCC25;
	padding: 2.5em 1.25em;
	border-radius: 2em 2em 0em 0em;
	display: block;
}

div.newsletter-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	flex-direction: row;
	margin: 0 auto;
	max-width: 55em;
	display: flex;


}

.newsletter
.newsletter-row
.newsletter-tagline {
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: normal;
	-webkit-box-flex: 1;
	flex: 1;
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	color: rgb(30,30,30);
	
}

.newsletter
.newsletter-row
.newsletter-tagline
.newsletter-heading {
	font-size: 1.5625em;
	line-height: 1.2em;
	margin-bottom: .7em;
	color: rgb(30,30,30);
}


.newsletter
.newsletter-row
.around-form {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;

}

.newsletter
.newsletter-row
.around-form
.sign-up {
	position: relative;
	display: flex;
	font-weight: 400;
	margin: 10% auto 0em auto;
}

.newsletter
.newsletter-row
.around-form
.sign-up
.newsletter-email {
	border-radius: .3125em 0 0 .3125em;
	padding: .75em 1.5em;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	min-width: 6.25em;
	border-radius: .425em 0 0 .425em;
	vertical-align: middle; 
	text-align: center;
}


.newsletter
.newsletter-row
.around-form
.sign-up
.form-submit {
	background-color: #FF4C4C;
	padding: 0.75em 2em;
	flex-grow: 0.5;
	flex-shrink: 1;
	flex-basis: 0%;
	flex-direction: ;
	-webkit-box-flex: 0.5;
	flex: 0.5;
	border-radius: 0 .425em .425em 0;
	font-weight: bold;
	vertical-align: middle; 
	text-align: center;
}

[aria-hidden=true] {
	display: none;
}

div.footer-top {
	/*background: linear-gradient(0deg, #FF7021, rgb(90,90,90) 5%);*/
	background-color: rgb(90,90,90);
	padding: 5em 14%;
}

div.footer-bottom {
	/*background-color: #FF7021;*/
	background-color: #FF7021;
	padding: 1.5em 14%;

}


/*
hr.footer-divider {
	box-shadow: inset 1em 5em gold;
	display: block;
	width: 100%;
    margin-top: 4em;
    margin-bottom: 3.25em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
*/
h4.developer-name {
	font-size: 1.5em;
	font-weight: bold;
	float: right;
	margin-right: 5em;
}

a.sm-icon > i {
	margin-left: 1em;
	color: orange;
}

a.sm-icon > i:hover {
	color: rgb(83,83,83);
}

a.sm-icon < i {
	
}

a.sm-icon:visited < i {
	color:rgba(0,0,0. 0.80);
}

