@import url("./style/phoneMq.css");*/
@import url('./recipedisplay.css');


a {
	text-decoration: none !important;
	text-decoration-style: none; 
}

.preview {
	color: white;
	background-color: #FF7021;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	padding: 1.1em;
	text-align: center;
	border-radius: 1.5em;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
}

.header {
	/*background-color: rgb(247,247,247);*/
	background-color: #3d414a;
	padding-top: .75em;
	padding-bottom: .75em;
	margin: .5em auto;
	border-radius: 0em;
	width: 100%;
	/* max-width: 100%; */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	min-height: auto;
	-moz-box-shadow:    inset 0 0 .25em rgb(30,30,30);
	-webkit-box-shadow: inset 0 0 .25em rgb(30,30,30);
	box-shadow:         inset 0 0 .25em rgb(30,30,30);
}

.hidden {
	display: none;
	visibility: hidden;
}

.main {
	width: 100%;
	margin-bottom: 4em;
}

div.logo-container  {
	display: block;
	margin-top: 2em;
	top: 1.5em;	
	/*flex-basis: 305px;*/
	background-color: rgb(250,250,250);

}



div.mob-logo-container {
	visibility: hidden;
	display: none;
}

.logo-left {
	display: none;
	visibility: hidden;
}


.nav-primary {
	/*position: absolute;
	top: 1em;
	left: 2.5em;
	right: 2.5em;
	margin-bottom: 5em;*/
	padding-bottom: 1.25rem;
} 
.nav-primary
.menu {
	text-decoration: none;
	list-style: none;
	padding-left: 5em;
	right: 2.5em;
	display: inline;
	float: right;
	font-size: 1em;
}



.nav-items {
	text-decoration-style: none;
	padding: 1em 1.5em;
	margin-left: 1em;
	margin-right: 1em;
	font-weight: bold;
	font-size: 1em;
	float: left;
	position: relative;
	top: 2em;
	right: 1em;
	text-align: center; 
	color: #3d414a !important;
	background-color: #FF7021 !important; 
	border: .2em rgb(141,145,154) solid;
	border-radius: .25em;
	text-decoration-color: orange;
	/*text-decoration: underline;*/
}

.nav-items:hover {
	border: .2em white solid;
	transition-delay: .075s;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.nav-items li {

	text-align: center;
	font-family: "Comfortaa",cursive;
}

.header
.logo-container {
	border-radius: 5em;
}

.header
.logo-container
#nav-logo {
	height: 7.5em;
	width: 11em;
	
}

/*First Row Display Home Page*/

.main-display {
	min-width: 100%;
	margin-top: 1.25em;
	margin-bottom: 1.5em;
}

/*SECTION ITEMS*/

div.info-display {
	width: 45%;
	display: inline-block;
	padding: .5em 2em;
	font-size: 2em;
	font-weight: bold;
}

button.button {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	height: 3em;
	width: 7em;
}


/*******************************ABOUT PAGE*********************/

.about {
	width: 85%;
	margin: auto;
	margin-top: 4em;
	height: 75em;
}

.lead-title {
	color: #FF7021;
	margin: 0 auto;
	text-align: center;
	width: auto;
	display: block;
	font-size: 1.75em;
	line-height: 0;
	padding: 1em 1em 0.75em 1em; 
}

.under-title {
	color: #FF7021;
	margin: 0 auto ;
	text-align: center;
	width: auto;
	display: block;
	font-size: 1.4em;
}


.lead-underline {
	border-bottom: .15em solid rgb(25,25,25);
	width: 25%;
	line-height: ;

}

#container {
	width: 100%;
	margin: 1.75em 0 0 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	vertical-align: top;
	height: auto;
}

.desc-section {
	width: 30%;
	flex-wrap: wrap;
	flex-basis: 30%;
	margin: 0 1%;
	display: inline-block;
	border: 1px #ccc solid;
	padding: 1em;
	background-color: rgb(240,240,240);
	min-height: 15em;
	-moz-box-shadow:    .1225em .1225em .3125em .375em #ccc;
   -webkit-box-shadow: .1225em .1225em .3125em .375em #ccc;
   box-shadow: .1225em .1225em .3125em .375em #ccc
}

.lead-desc {
	font-size: 1em;
	line-height: 1.9em;
	font-family: sans-serif;
}

.container-2{
	width: 100%;
	margin: 1.75em 0 0 0;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	vertical-align: top;
	height: auto;
}

.desc-section-2 {
	/*width: 45%;
	flex-basis: 45%;
	margin: 0 2.5%;
	display: inline-block;
	border: 1px #ccc solid;
	padding: 1em;
	min-height: 15em;
	background-color: rgb(240,240,240);
	-moz-box-shadow:    .1225em .1225em .3125em .375em #ccc;
   -webkit-box-shadow: .1225em .1225em .3125em .375em #ccc;
   box-shadow: .1225em .1225em .3125em .375em #ccc*/
	width: 30%;
	flex-wrap: wrap;
	flex-basis: 30%;
	margin: 0 1%;
	display: inline-block;
	border: 1px #ccc solid;
	padding: 1em;
	background-color: rgb(240,240,240);
	min-height: 15em;
	-moz-box-shadow: .1225em .1225em .3125em .375em #ccc;
	-webkit-box-shadow: .1225em .1225em .3125em .375em #ccc;
	box-shadow: .1225em .1225em .3125em .375em #ccc;
}

.about-icon {
	display: block !important;
	font-style: 1.5em;
	color: #FF7021;
	text-align: center;
	padding: 1.1em;
}

.about-description {
	line-height: 2em;
}

.row {
	margin-bottom: 1.5em;
}

.about-cook {
	word-wrap:  break-word;
	position: relative;
	float: left;
	max-height: 18em;
	width: 83%;
	border: #FF7021 solid .5em;
	margin-top: 3em;
	margin-left: 3em;
	margin-bottom: 3em;

	padding: 1.5em 1.5em 1.5em 0em;
	z-index: 1;
	display: block;
	border-radius: 7.5em 1em 1em 7.5em;
	font-size: 1.33em;

}

.about-cook::after {
	content: "";
	display: block;
	clear: both;

}

.cook-media {
	position: relative;
	float: left;
	left: -3em;
	top: -4em;
	height: 20em;
	min-height: 16em;
	width: 20em;
	background-color: #396CCC;
	border-radius: 100%;
	padding-bottom: .75em;
	z-index: 2;

}

.about-site {
	position: relative;
	float: right;
	max-height: 18em;
	width: 83%;
	border: #FF7021 solid .5em;
	margin-top: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	padding-bottom: .75em;
	padding-right: 15em;
	z-index: 1;
	display: block;
	border-radius: 1em 7.5em 7.5em 1em;
	font-size: 1.33em;
	overflow: auto;
}

.site-media {
	float: right;
	position: relative;
	height: 20em;

	width: 20em;
	background-color: #773600;
	margin-bottom: 1em;
	border-radius: 0%;
	padding-bottom: .75em;
	z-index: 2;

}


.knife-gif {
	height: 18em;
	width: 18em;
	border-radius: 100%;
	margin-left: 1em;
	margin-top: 1em;
	opacity: .85;

}

/*COOKWARE AND RESOURCES PAGE*/

section.affiliate-col {
	width: 50%;
	margin: 4em auto;
}

section.affilate-col div.product-highlight::before {
	position: absolute;
	display: block;
	width: 5.625em; 
	content: "";
	background-color: inherit;
	left: 36%;
	height: 1px;

}

.product-highlight {
	position: relative;
	border: .6em solid #FF7021;
	margin: .25em 0;
	display: inline-block;
	padding: .5em 1em .5em .7em;
	box-shadow: .125em .125em .125em 0em #6085ff;
	-webkit-box-shadow: .125em .125em .125em 0em #2A72D9; 
	background-color: 
}

h4.label {
	top: -2.325em;
	left: -1.25em;
	font-weight: 700;
	background-color: rgb(100,100,100);
	/*background-color: #FF7021;*/
	display: inline-block;
	position: absolute;
	padding: .7em 1.15em;
	color: #fff;
	box-shadow: .125em .125em .125em 0em rgba(0,0,0,0.28);
}

h4.label:after {
	content: " ";
	display: block;
	position: absolute;	
	left: -0.625em;
	bottom: -0.4325em;
	border-bottom: 7px inset transparent;
	border-top: 0px inset transparent;
	border-left: 10px inset transparent;
	border-right: 10px solid #0B3268;
	
}

.product-group {
	height: 22em;
	display: flex;
	flex-direction: row;
	margin: 1.5em;	
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	flex-wrap: wrap;
}

div.product-metadata {
	align-self: center;
	display: block; 
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-webkit-box-flex: 1;
	-webkit-box-direction: normal;
	-webkit-font-smoothing: antialiased;
}

div.product-img {
	align-self: center;
	display: block; 
	flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-webkit-box-flex: 1;
	-webkit-box-direction: normal;
	-webkit-font-smoothing: antialiased;
}

h3.product-title {
	line-height: 1.7em;
	font-size: : 2.5em;
	font-weight: bold;

}

div.product-img img {
	width: 100%;
	height: auto;
	height: 157px;
	width: 250px; 
}

.product {
	position: relative;
	margin: 0 0 1.5em 0;
	padding: 1em 0em .70em;
	border-left: 1px solid #ccc;
	clear: both;
}

button.affil-button {
	background-color: #CC3A17;
	color: white;
	padding: 1.4em .7em;
	align-content: center;
	font-size: 1.3em;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	font-size: 0;
}


/********************* FOOTER ITEMS ********************/

footer {
	width: 100%;
	display: block;
	background-color: #3d414a;
}

div.newsletter {
	background-color: #FF7021;
	padding: 2.5em 1.25em;
	border-radius: 2em 2em .25em .25em;
	display: block;
	height: auto;
	border-bottom: none;
}

div.newsletter-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 55em;
	display: flex;
	justify-content: center;

}

.newsletter
.newsletter-row
.newsletter-tagline {
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-ms-flex-direction: normal;
	-webkit-box-flex: 1;
	flex: 1;
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	color: rgb(250,250,250);
	
}

.newsletter
.newsletter-row
.newsletter-tagline
.newsletter-heading {
	font-size: 1.5625em;
	line-height: 1.2em;
	margin-bottom: .7em;
	color: rgb(250,250,250);
}


.newsletter
.newsletter-row
.around-form {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	flex-basis: 0%;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;

}

.newsletter
.newsletter-row
.around-form
.sign-up {
	position: relative;
	display: flex;
	font-weight: 400;
	margin: 10% auto 0em auto;
}

.newsletter
.newsletter-row
.around-form
.sign-up
.newsletter-email {
	border-radius: .3125em 0 0 .3125em;
	padding: .75em 1.5em;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	min-width: 6.25em;
	border-radius: .425em 0 0 .425em;
	vertical-align: middle; 
	text-align: center;
}


.newsletter
.newsletter-row
.around-form
.sign-up
.form-submit {
	background-color: #000;
	color: white;
	padding: 0.75em 2em;
	flex-grow: 0.5;
	flex-shrink: 1;
	flex-basis: 0%;
	flex-direction: ;
	-webkit-box-flex: 0.5;
	flex: 0.5;
	border-radius: 0 .425em .425em 0;
	font-weight: bold;
	vertical-align: middle; 
	text-align: center;
}

[aria-hidden=true] {
	display: none;
}

.footer-top {
	padding: .5em .1em .25em .2em;
	border: .40em #000 solid;
	border-bottom: none;
	padding: 2% 2%;
	background-color: #3d414a;
}

.footer-top
.footer-container {
	display: flex;
	flex-flow: row wrap;
	height: 6.5em;
	width: 100%;
	align-items: center;
}

.footer-top
.footer-container
.footer-item {
	width: 40%;
	flex-basis: 40%;
	min-height: 6em;
	max-height: 7.5em;
	max-width: 30%;
	/*background-color: rgba(255,112,33,0.5);*/
	margin: 0 10%;
	/*border: 1px #ccc solid;*/

}

.footer-top
.footer-container
.footer-item
.written-logo {
	text-align: center;
	color: #FF7021;
	font-size: 1.75em;
	font-family: 'Rammetto One', cursive;
	font-weight: 900;
}

.footer-top
.footer-container
.footer-item
.site-links {
	list-style-type: none;
	display: block;
} 

.footer-top
.footer-container
.footer-item
.site-links li {
	display: block;
	padding: .35em 0.5em 0em .2em;
	font-size: 1em;
	font-weight: 300;
	font-family: sans-serif;
	color: #FF7021;
	text-transform: uppercase;

}


.footer-top
.footer-container
.logo-footer
#copyright {
	font-size: .5em;
	margin-top: 1em;
}

div.footer-bottom {
	background-color: #26282e;
	padding: 1em 14%;
	border: .40em #000 solid;
	border-top: none;
}

.scl-media {
	text-align: center;
}

.utility-container {
	text-align: center;
}

.utility-links {
	list-style-type: none;
	display: inline-block;
} 

.utility-links li {
	display: inline-block;
	padding: 0em 2em 0em 2em;
	font-size: 1em;
	font-weight: 300;
	font-family: sans-serif;
	color: #FF7021;
	text-transform: uppercase;

}


h4.developer-name {
	font-size: 1.5em;
	font-weight: bold;
	float: right;
	margin-right: 5em;
}

a.sm-icon > i {
	margin-left: 1em;
	color: #FF7021;
}

a.sm-icon > i:hover {
	color: rgb(83,83,83);
}

a.sm-icon < i {
	
}

a.sm-icon:visited < i {
	color:rgba(0,0,0. 0.80);
}

/********************* recipe *********************/

.block-wrapper {
	margin: 0em 0 3em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly; 
}

.block-wrapper::after {
	clear: both;
	content: " ";
	display: table;
}

.tool-wrapper {
	display: inline-block;
	position: relative;
	padding: .18%;
	width: 37%;
	top: 0;
	border-radius: 4px;
    margin-left: .8%;
    margin-right: .5%;
    flex-basis: 37%;
    overflow: hidden;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    padding-left: 2em;
    padding-right: 2em;
    min-height: 33.2em;
	background-color: rgba(246,250,255,.95);
	border: .15em solid rgba(250,250,250,1);
	-moz-box-shadow:    .1225em .1225em .125em .375em #ccc;
   -webkit-box-shadow: .1225em .1225em .125em .375em #ccc;
   box-shadow: .1225em .1225em .3125em .175em #ccc;
}
.recipe-wrapper {
	display: inline-block;
	position: relative;
	padding: .75em;
	width: 30%;
	flex-basis: 30%;
	background-color: rgba(246,250,255,.95);
	border: .15em solid #fff;
	border-radius: 4px;
	-moz-box-shadow:    .1225em .1225em .125em .375em #ccc;
   -webkit-box-shadow: .1225em .1225em .125em .375em #ccc;
   box-shadow: .1225em .1225em .3125em .175em #ccc;
}

.img-container {
	width: 100%;
	overflow: hidden;
}



.tool-wrapper
.img-container > img {
	min-width: 75%;
	height: auto;
	background: url("../img/timemoney.jpeg");
}


.recipe-wrapper
.img-container > img {
	width: 100%;
	height: 15em;
	border-radius: 4px;
}

.metadata-container {
	position: relative;
	min-height: 8em;
	padding-bottom: 1em;
	background-color: inherit;
	
}

.metadata-container
div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 1em;
}

.metadata-container
.catg-link {
	position: absolute;
	bottom: 102%;
}

.metadata-container
.catg-link
.recipe-icon {
	color: white;
	padding: .55em;
	background-color: #FF7021;
	max-height: 34px;
}

.metadata-container
.catg-link
.recipe-category{
	padding: .44em;
	margin-left: .085em;
	background-color: #FF7021;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 96%;
	max-height: 32px;
}
 
.metadata-container
.catg-link
li {

}

.metadata-container
.metadata-title {
	padding: .25em 2.5% .35em 2.5%;
	font-size: 130%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	margin-bottom: .5em;
	margin-top: 0;
}

.metadata-container 
.metadata-description {
	display: inline-block;
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 200;
}

/********************* Media Queries *********************/
@media (min-width: 300px) and (max-width: 768px) {
	/*********** NavBar and Logo ********** */
	.header {
		height: auto;
		width: 98%;
		margin: 0 auto;
		padding-bottom: 3em;

	}

	.logo-left {
		visibility: visible;
		display: block;
	}

	.wht-bckgd {
		background-color: white;
	}



	.header::before {
	    content: "";
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    width: 200%;
	    height: 140%;
	    border-radius: 100%;
	    background-color: white;
	    opacity: 0;
	    -webkit-transform: translate3d(-25%, -55%, 0) scale3d(0.4, 0.4, 0.4);
	    transform: translate3d(-25%, -55%, 0) scale3d(1, 1, 1);
	    -webkit-transform-origin: top right;
	    transform-origin: top right;
	    transition: -webkit-transform cubic-bezier(0.3, 0.51, 1, 1.1) 300ms, opacity ease 300ms;
	    transition: transform cubic-bezier(0.3, 0.51, 1, 1.1) 300ms, opacity ease 300ms;
	}
	 
	.header
	.logo-container {
		visibility: hidden;
		display: none;
	}

	div.mob-header-ctn {
		visibility: visible;
		display: flex;
		flex-flow: nowrap column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.mob-logo-container
	.logo {

	}

	.mob-nav {
	  display: inline-block;
	  cursor: pointer;

	}

	.mob-menu {
		display: flex;
		list-style-type: none;
		flex-flow: column wrap;
		justify-content: space-between;
		margin-left: 0;
	}

	.mb-nav-items {
		color: #FF7021;
		font-size: 1.5em;
		font-weight: 500;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.mb-nav-items:nth-child(1) {
		transform: rotate(5deg);
	}

	.mb-nav-items:nth-child(2) {
		transform: rotate(-1deg);
	}

	.mb-nav-items:nth-child(3) {
		transform: rotate(3deg);
	}

	.mb-nav-items {
		
	}

	.logo-text {
		color: #FF7021;
		display: inline-block;
	}

	.logo-icon {
		color: #FF7021;
		font-size: 2em;
		padding-right: .5em;
	}





	.bar1, .bar2, .bar3 {
	  width: 35px;
	  height: 5px;
	  background-color: #FF7021;
	  margin: 6px 0;
	  transition: 0.4s;
	  color: inherit;
	}

	.change .bar1 {
	  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	  transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	  -webkit-transform: rotate(45deg) translate(-8px, -8px);
	  transform: rotate(45deg) translate(-8px, -8px);
	}

	.nav-primary {
		position: static;
		margin-left: 5%;
		margin-bottom: auto;
		display: none;
		visibility: hidden;
	}

	.hidden {
		display: none;
		visibility: hidden;
	}

	.nav-primary
	.menu {
		display: flex;
		flex-flow: column wrap;	
		justify-content: center;
		padding-left: 0;
		margin: 0 auto;
	}
	.nav-primary
	.menu 
	.nav-items {
		float: auto;
		display: block;
		text-align: center;	
		margin-left: 15%;
	}

	/*********** 	TOP SECTION WRAPPER ********** */	
	.main-display {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	/*********** 	SLIDESHOW ********** */
	.main-display
	.slideshow {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 1.75em;
	}

	.slideshow
	.slideshow-container
	.mySlides
	.text {
		padding: .1em;
		top: 64%;
		right: 31%;
		width: auto;
		font-size: .95em;
		border-radius: 0.5em .2em 0.5em .2em;
	}

	.slideshow
	.slideshow-container
	.mySlides
	.numbertext {
		left: 41%;
		font-size: 1em;
		padding: .75em;

	}

	.slideshow-container
	.mySlides
	.

	.slideshow-container
	.prev, 
	.slideshow-container
	.next {
		font-size: 1.65em;
		top: 35%;

	}		

	.prev, .next {
		font-size: 4em;
	}

	.slideshow
	.slideshow-container {
		min-height: 17em;
	}



	.slideshow-container
	.myslides > img {
		min-height: 15em;
		min-width: 100%;

	}

	.section
	.block-wrapper {
		justify-content: space-between;
	}
	
	.img-container > img  {
		min-height: 10em;
		max-height: 11em;
	}

	.slideshow-container
	.mySlides > img {
		min-width: 100%;
		min-height: auto;
	}

	.recipe-wrapper {
		width: 48%;
		flex-basis: 48%;
		margin-top: 2.5em;
	}

	.tool-wrapper {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 1em;
		height: auto;
	}

	.metadata-container {
		padding-bottom: 0;
	}

	.metadata-container
	.tag-container {
		margin-top: 0em;
		margin-bottom: .5em;
	}

	.metadata-container 
	.metadata-title {
		padding-bottom: 0.35em;
		margin: 0;
		text-align: center;
	}

	.metadata-container
	.catg-link
	.recipe-icon {
		padding: .20em;
	}

	.metadata-container 
	.catg-link {
		bottom: 90%;
	}

	.metadata-container 
	.catg-link 
	.recipe-category {
		padding: .15em;
	}

	.recipe-wrapper
	.metadata-container
	.metadata-description {
		margin: 0px;

	}

	.recipe-wrapper
	.img-container {
		max-height: 10em;
	}

	.recipe-wrapper
	.img-container > img {
		width: 100%;
		height: 12em;
	}


	.slideshow 
	.navigation {
		display: none;
	}

	.block-wrapper {
		margin-top: -8em 0 2.5em 0;
	}

	/******************** COOKWARE SECTION *********************/
	.product-highlight {
		height: 35em;
	}

	/******************** ABOUT SECTION *********************/
	.about {
		height: auto;
		margin-bottom: 3em;
	}

	.lead-title {
		width: 80%;
		margin: 0 10%;
	}

	#container {
		flex-flow: column wrap;
		justify-content: center;
	}

	#container 
	.desc-section {
		width: 95%;
		flex-basis: 95%;	
		margin: 2em 1.5%;
	}

	#abt-desc
	.container-2 {
		flex-flow: column wrap;
		justify-content: center;
	}

	#abt-desc
	.container-2
	.desc-section-2 {
		width: 95%;
		flex-basis: 95%;	
		margin: 2em 1.5%;
	}
/******** Footer ******/
	.newsletter
	.newsletter-row {
		flex-flow: column wrap;
		align-items: center;

	}
	.footer-top {
		height: auto;
	}

	.footer-top .footer-container {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		height: 17.5em;
	}

	.footer-top .footer-container .footer-item {
		flex-basis: 48%;
		width: 48%;
	}

	.footer-top .footer-container .footer-item .written-logo {
		width: 45%;
		flex-basis: 45%;
	}

	.footer-top .footer-container .footer-item .site-links {
		margin-right: 4em;
	}

	.footer-bottom {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-content: center;
	}

	.footer-bottom
	.scl-media {
		margin: 0 auto;
		text-align: center;
	}
}


	/*toggleState() {
			this.setState(function(prevState, props){
				return {headerActive: !prevState.headerActive}
   				})
		 }