@media (min-width: 300) and (max-width: 750) {
	.header {
		min-height: 20em;
	}	
	.nav-primary {
		position: relative;
		top: auto;
		left: 25%;
		margin-bottom: auto;
		padding-bottom: 1.25em;
	}
	.nav-primary
	.menu {
		display: block;
		padding-left: auto;
	}
	.nav-primary
	.menu 
	.nav-items {
		float: auto;
		display: block;
		text-align: center	
	}